#body {
    background-color: lightgray;
    height: 100vh;
}

.introBox {
    height: 90vh;
    background-image: url(../img/intropng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 6px 15px 1px rgba(0, 0, 0, 0.75);
}

.introHeadline {
    position: fixed;
    text-align: center;
    width: 70vw;
    font-family: 'Bungee Shade', cursive;
    font-size: 7em;
    letter-spacing: 20px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    margin-top: 30vh;
    transition: all 1s ease-in;

}

.introHeadlineTransision {
    margin-top: 0vh;
    font-size: 4em;
    letter-spacing: 2px;
}

.lowerText {
    position: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
    margin-top: 50vh;
    width: 70vw;
    transition: all 1s ease-in;
}
.lowerTextTransision {
    margin-top: 10vh;
    width: 72vw;
    font-size: 1em;
    letter-spacing: 2px;
    
}

.introBigLetter {
    font-size: 60px;
    transition: all 1s ease-in;
}

.introBigLetterTransision{
    font-size: 20px;
    letter-spacing: 0px;
}
