#body {
    background-color: lightgray;
    height: 100vh;
}

.contentBoxesTop {


    margin-top: 20vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesBottom {

    margin-top: 5vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesTop:hover, .contentBoxesBottom:hover {
  box-shadow:10px 10px 5px rgba(33,33,33,.2); 
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.bgContentBoxImage1{
    background-image: url('../img/VRGlasses.jpg.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage2{
    background-image: url('../img/TwoBeers.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage3{
    background-image: url('../img/TwoHappyPeople.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage4{
    background-image: url('../img/Hangover.jpg');
    background-position: center;
    background-size: cover;
}

.textSettings p{

    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding-top: 35px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.textSettings p:first-letter {
  font-size: 70px;
  font-weight: bold;
  color: blue;
}

.VRimage{
    width: 10%;
    height: 20px;
    /*background-image: url('../img/VR.png');*/
    background-repeat: no-repeat;
    transform: scale(2, 2);
    background-size: contain;

}

#firstpichover:hover #VRimage{
    animation: wiggle 0.5s;
  animation-iteration-count: 1;
}

@keyframes wiggle{0%{transform:rotate(6deg);}50%{transform:rotate(-6deg);}100%{transform:rotate(6deg);}}
a.wiggle-me:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}

