#body{

    /*background-image: url(../img/intropngOpacity.png);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;*/
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}


h1{
    margin: 0px 0px 5px 0px;
}
h3{
    margin: 0px 0px 35px 0px;
    color: gray;
}

/*Slide in Boxes*/
#infoBoxImgVR{
    background-image: url("../img/GuyHoldingVRGlasses.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 50%;
}

.infoBoxEscBtnVR{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#infoBoxTextVR{
    padding: 35px 40px;
}
.slideInVR {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #f6f6f6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}
.slideInViewVR {
    transform: translateX(0);
}

.OpacityOverLeftSideOnSlideInVR{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}
#infoBoxImgStory{
    background-image: url("../img/Hangover.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 50%;
}

.infoBoxEscBtnStory{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#infoBoxTextStory{
    padding: 35px 40px;
}
.slideInStory {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #f6f6f6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}
.slideInViewStory {
    transform: translateX(0);
}

.OpacityOverLeftSideOnSlideInStory{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}

#infoBoxImgQuiz{
    background-image: url("../img/Hangover.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 50%;
}

.infoBoxEscBtnQuiz{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#infoBoxTextQuiz{
    padding: 35px 40px;
}
.slideInQuiz {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #f6f6f6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}
.slideInViewQuiz {
    transform: translateX(0);
}

.OpacityOverLeftSideOnSlideInQuiz{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}

#infoBoxImgDiverse{
    background-image: url("../img/Hangover.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 50%;
}

.infoBoxEscBtnDiverse{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#infoBoxTextDiverse{
    padding: 35px 40px;
}
.slideInDiverse {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #f6f6f6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}
.slideInViewDiverse {
    transform: translateX(0);
}

.OpacityOverLeftSideOnSlideInDiverse{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}
/*Nicklas*/

.contentBoxesTop {
    height: 35.3vh;
    margin-top: 20vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesBottom {
    height: 35.3vh;
    margin-top: 5vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesTop:hover,
.contentBoxesBottom:hover {
    box-shadow: 10px 10px 5px rgba(33, 33, 33, .2);
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.bgContentBoxImage1 {
    background-image: url('../img/VRGlasses.jpg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -3em;
}

.bgContentBoxImage2 {
    background-image: url('../img/TwoBeers.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -3em;
}

.bgContentBoxImage3 {
    background-image: url('../img/TwoHappyPeople.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -3em;
}

.bgContentBoxImage4 {
    background-image: url('../img/Hangover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: -3em;
}

.textSettings p {

    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding-top: 7vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.textSettings p:first-letter {
    font-size: 55px;
    font-weight: bold;
    color: blue;
}

.computerIcon{
    width: 7% !important;
}

.bookIcon{
    width: 7% !important;
}

.boxIcons {
    width: 9%;

    /*background-image: url('../img/VR.png');*/
    background-repeat: no-repeat;
    transform: scale(2, 2);
    background-size: contain;

}

#firstpichover:hover #wiggleFunction {
    animation: wiggle 0.5s;
    animation-iteration-count: 1;
}

@keyframes wiggle {
    0% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(6deg);
    }
}

a.wiggle-me:hover {
    -ms-animation: wiggle .3s 2;
    -moz-animation: wiggle .3s 2;
    -webkit-animation: wiggle .3s 2;
    animation: wiggle .3s 2;
}

/*Jakob*/

.introBox {
    position: relative;
    z-index: -1;
    height: 90vh;
    padding-top: 56%;
    background-image: url(../img/intropngMedTekst169.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 6px 15px 1px rgba(0, 0, 0, 0.75);
}

.introHeadline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 7em;
    letter-spacing: 20px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    opacity: 0;
    transition: all 3s ease-in;


}

.introHeadlineOpcaity{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 7em;
    letter-spacing: 20px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    opacity: 1;
    transition: all 0.6s ease-in;
}

.introHeadlineTransision {
    top: 10%;
    font-size: 4em;
    letter-spacing: 2px;
}



.lowerText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
    opacity: 0;
    transition: all 3s ease-in;
}

.lowerTextOpacity {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
    opacity: 1;
    transition: all 0.6s ease-in;
}

.lowerTextTransision {
    top: 11%;
    font-size: 1em;
    letter-spacing: 2px;

}

.introBigLetter {
    font-size: 60px;
    transition: all 1s ease-in;
}

.introBigLetterTransision {
    font-size: 20px;
    letter-spacing: 0px;
}

.beerimg {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 5%;
    opacity: 0;
    transition: all 3s ease-in;
}

.beerimgOpacity {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 5%;
    opacity: 0.8;
}

.clickToContinueText {
    opacity: 0;
    font-family: 'Bungee Shade', cursive;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAD570;
}

#size .row{
    max-width: 80em;
}

