<<<<<<< HEAD
#body{
   background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.introHeadline {
    font-family: 'Bungee Shade', cursive;
    font-size: 6em;
    color: #FAD570;
    
}
.introBox{
    background-color: darkgray;
    padding-bottom: 30%;
    border-radius: 0 0 15px 15px;
    box-shadow: 11px 12px 32px 0px rgba(0,0,0,0.75);
    z-index: 100;
}

.lowerText{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #FAD570;
    margin-top: -100px;
}

#forsidebox{
    background-color: black;
}

.columns{
 border: 2px solid red;   
}

#infoBoxImg{
    background-image: url("../img/Hangover.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 50%;
}
h1{
    margin: 0px 0px 5px 0px;
}
h3{
    margin: 0px 0px 35px 0px;
    color: gray;
}

.infoBoxEscBtn{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#infoBoxText{
    padding: 35px 40px;
}
.slideIn {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #f6f6f6;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}
.slideInView {
    transform: translateX(0);
}

.opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}