#body {
    background-color: #FC4445;
    height: 100vh;
    width: 100vw;
}


#infoBoxImg {
    background-image: url("../img/Hangover.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
}

h1 {
    margin: 0px 0px 5px 0px;
}

h3 {
    margin: 0px 0px 35px 0px;
    color: gray;
}

.infoBoxEscBtn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;

}

#infoBoxText {
    padding: 35px 40px;

}

.slideIn {
    position: fixed;
    right: 0;
    top: 0px;
    width: 70vw;
    height: 100vh;
    background-color: #CAFAFE;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
}

.slideInView {
    transform: translateX(0);
}

.opacity {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 99;
    background: #111;
    cursor: pointer;
}

/*Nicklas*/

.contentBoxesTop {


    margin-top: 20vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesBottom {


    margin-top: 5vh;
    padding: 5vh;
    box-shadow: 3px 3px 10px grey;
}

.contentBoxesTop:hover,
.contentBoxesBottom:hover {
    box-shadow: 10px 10px 5px rgba(33, 33, 33, .2);
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.bgContentBoxImage1 {
    background-image: url('../img/VRGlasses.jpg.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage2 {
    background-image: url('../img/TwoBeers.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage3 {
    background-image: url('../img/TwoHappyPeople.jpg');
    background-position: center;
    background-size: cover;
}

.bgContentBoxImage4 {
    background-image: url('../img/Hangover.jpg');
    background-position: center;
    background-size: cover;
}

.textSettings p {
    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding-top: 35px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.textSettings p:first-letter {
    font-size: 70px;
    font-weight: bold;
    color: #55BCC9;
}

/*
.hovereffekt {
    
    background-size: 100% 200%;
    background-image: linear-gradient(to top, red 50%);
    transition: background-position 1s;
}

.hovereffekt:hover{
    background-position: 0% 100%;
    opacity: 0.1;
}*/

.VRimage {
    position: auto;


    left: 160px;
    width: 20%;

}

/*Jakob*/
/*#mainPageWrapper{
    position: relative;
}*/

.introBox {
    position: absolute;
    height: 90vh;
    background-image: url(../img/intropng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 6px 15px 1px rgba(0, 0, 0, 0.75);
}

.introHeadline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 7em;
    letter-spacing: 20px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    transition: all 1s ease-in;

}

.introHeadlineTransision {
    top: 10%;
    font-size: 4em;
    letter-spacing: 2px;
}

.lowerText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
    transition: all 1s ease-in;
}

.lowerTextTransision {
    top: 11%;
    font-size: 1em;
    letter-spacing: 2px;

}

.introBigLetter {
    font-size: 60px;
    transition: all 1s ease-in;
}

.introBigLetterTransision {
    font-size: 20px;
    letter-spacing: 0px;
}

.beerimg {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 5%;
    opacity: 0.8;
}

.clickToContinueText {
    font-family: 'Bungee Shade', cursive;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAD570;
}
