.introHeadline {
    font-family: 'Bungee Shade', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    

}

.headlineLink{
    color: #FAD570;
    text-decoration: none;
}

.lowerText {

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
}

.introBigLetter {
    font-size: 60px;
}

.rigtigSvar,
.rigtigSvar:hover,
.rigtigSvar:active,
.rigtigSvar:focus,
.rigtigsvar:visited
{
    background-color: lawngreen;
}

#question{
    margin-bottom: 5%;
    padding: 2%;
    font-size: 2em;
}

#facit{
    margin-bottom: 5%;
    padding: 2%;
    font-size: 2em;
    font-family: 'Bangers';
}

.quizBox{
    margin-top: 10%;
    margin-right: 8%;
    margin-left: 8%;
}

.svarHide{
    visibility: hidden;
}
.svarShow{
    visibility: visible;
}

.svarBox{
    height: 5em;
    outline-style: hidden;
}

.forkertSvar,
.forkertSvar:hover,
.forkertSvar:active,
.forkertSvar:focus,
.forkertsvar:visited
{
    background-color: orangered;
}
