.introHeadline {
    font-family: 'Bungee Shade', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    

}
body{
    font-family: 'Bangers';
    font-style: normal;
    background-color: #80BFFF;
    
}

.headlineLink{
    color: #FAD570;
    text-decoration: none;
}



.lowerText {

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #FAD570;
    text-shadow: 1px 1px 1px #000000;
    word-spacing: 5px;
}

.introBigLetter {
    font-size: 60px;
}

.rigtigSvar,
.rigtigSvar:hover,
.rigtigSvar:active,
.rigtigSvar:focus,
.rigtigsvar:visited
{
    background-color: #2DE012;
}

#question{
    margin-bottom: 5%;
    padding: 2%;
    font-size: 2em;
    
}

#svarTjekker{
    text-shadow:0px 0px 9px rgba(0,0,0,1);
    font-size: 1.2em;
    letter-spacing: 0.125em;
    
}

.tak{
   font-size: 2em;
    letter-spacing: 0.125em;
}

#facit{
    margin-bottom: 5%;
    padding: 2%;
    font-size: 2em;
    font-family: 'Bangers';
}

.quizBox{
    margin-top: 8%;
    margin-right: 8%;
    margin-left: 8%;
}

.endMessage{
    visibility: hidden;
}

#endButton{
    text-shadow:0px 0px 9px rgba(0,0,0,1);
    font-size: 1.2em;
    letter-spacing: 0.125em;
}

.svarHide{
    visibility: hidden;
    
}
.svarShow{
    visibility: visible;
}

.svarBox{
    height: 4em;
    outline-style: hidden;
    font-size: 1.2em;
    letter-spacing: 0.125em;
    text-shadow:0px 0px 9px rgba(0,0,0,1)
}

.forkertSvar,
.forkertSvar:hover,
.forkertSvar:active,
.forkertSvar:focus,
.forkertsvar:visited
{
    background-color: orangered;
}
